extends layout

block content
    #wrapper(ng-controller='VehicleController')

        #sidenav-wrapper

            nav.sidenav

                ul.sidenav-list

                    li.sidenav-list-item
                        #style-pane.side-panel(ng-controller="sidePanelController")
                            a(href='', ng-click='toggle()'): i(class="fa fa-paint-brush")
                            .pageslide(pageslide ps-open='checked', ps-speed='0.25', ps-side="left")
                                div(style='padding:20px')
                                    .btn-group-vertical(data-toggle='buttons')
                                        label.btn.btn-default.disabled
                                            input(type='radio', name='options', autocomplete='off', disabled='true')
                                            |  Style:
                                        label.btn.btn-primary.active(ng-click='setStyle(styles[0])')
                                            img(src="images/App.png")
                                            input#style(type='radio', name='options', autocomplete='off', checked='')
                                            |  App
                                        label.btn.btn-primary(ng-click='setStyle(styles[1])')
                                            img(src="images/Basic.png")
                                            input#basic(type='radio', name='options', autocomplete='off')
                                            |  Basic
                                        label.btn.btn-primary(ng-click='setStyle(styles[2])')
                                            img(src="images/Light.png")
                                            input#light(type='radio', name='options', autocomplete='off')
                                            |  Light
                                        label.btn.btn-primary(ng-click='setStyle(styles[3])')
                                            img(src="images/Dark.png")
                                            input#dark(type='radio', name='options', autocomplete='off')
                                            |  Dark
                                        label.btn.btn-primary(ng-click='setStyle(styles[4])')
                                            img(src="images/Street.png")
                                            input#street(type='radio', name='options', autocomplete='off')
                                            |  Street

                    li.sidenav-list-item
                        #search-pane.side-panel(ng-controller="sidePanelController")
                            a(href='', ng-click='toggle()'): i(class="fa fa-list")
                            .pageslide(pageslide ps-open='checked', ps-speed='0.25', ps-side="left")
                                div(style='padding:20px')
                                    form(role='form')
                                        .form-group
                                            input#searchinput.form-control(type='search', placeholder='Search...')
                                        #searchlist.list-group
                                            a.list-group-item.vehicle(href='#', ng-repeat='point in points', ng-click='getVehicleSocket(point)')
                                                span {{point.properties.plate}}
                                    script.
                                        $('#searchlist').btsListFilter('#searchinput', {itemChild: 'span'});


                    li.sidenav-list-item
                        #info-pane.side-panel(ng-controller="infoPanelController")
                            button#info-button.link-button(href='', ng-disabled='selectedPoint == null', ng-click='toggle()'): i(class="fa fa-table")
                            #info-pageslide.pageslide(pageslide ps-open='checked', ps-speed='0.25', ps-side="left", ps-click-outside='false')
                                .panel.panel-primary
                                    .panel-heading {{selectedPoint.properties.plate}}
                                    .panel-body
                                        ul.value-list
                                            li
                                                .description Speed
                                                .value
                                                    span.neutral {{selectedPoint.properties.speed}} km/h
                                            li
                                                .description Distance
                                                .value
                                                    span.neutral {{selectedPoint.properties.distance}} km

                                        a.btn.btn-primary(data-toggle='modal', data-target='#historyModal', href='#historyModal', role='button') Show history
                                        a.btn.btn-default(ng-click='toggle()', role='button') Close


        #page-content-wrapper

            #map

            #historyModal.modal.animated.bounceIn(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1#modalLabel.modal-title
                                | {{selectedPoint.properties.plate}}
                            button.btn.btn-secondary.btn-close(data-dismiss='modal')
                                | Close
                        .modal-body
                            .panel-group.material-tabs-group
                                ul.nav.nav-tabs.material-tabs.material-tabs_primary
                                    li.active
                                        a.material-tabs__tab-link(href='#speedChartTab', data-toggle='tab') Speed
                                    li
                                        a.material-tabs__tab-link(href='#distanceChartTab', data-toggle='tab') Distance
                                    li
                                        a.material-tabs__tab-link.material-tabs__tab-link_disabled(href='javascript:void(0)') disabled
                                .tab-content.materail-tabs-content
                                    #speedChartTab.tab-pane.fade.active.in
                                        .chartDiv
                                            canvas#speedChart.chart(width='500', height='500')
                                    #distanceChartTab.tab-pane.fade
                                        .chartDiv
                                            canvas#distanceChart.chart(width='500', height='500')
                        .modal-footer
                            button.btn.btn-default
                                | Default
                            button.btn.btn-primary
                                | Primary