<div class="panel panel-primary">
   <div class="panel-heading">
      <h1>{{selectedPoint.properties.plate}}</h1><a ng-click="toggle()" role="button" class="btn btn-default btn-close">X</a>
   </div>
   <div class="panel-body">
      <ul class="value-list">
         <li>
            <div class="description">Speed</div>
            <div class="value"><span class="neutral">{{selectedPoint.properties.speed.toFixed(1)}} km/h</span></div>
         </li>
         <li>
            <div class="description">Distance</div>
            <div class="value"><span class="neutral">{{selectedPoint.properties.distance.toFixed(1)}} km</span></div>
         </li>
      </ul><a data-toggle="modal" data-target="#historyModal" href="#historyModal" role="button" class="btn btn-primary">Show history</a>
      <a ng-click="toggleReset()" role="button" class="btn btn-primary stop-tracking-button">Stop tracking</a>
   </div>
</div>