doctype html
html(ng-app='trackingApp')
    head
        title Tracking App
        link(rel='stylesheet', href='/stylesheets/map.css')
        link(rel='stylesheet', href='/stylesheets/side-nav.css')
        link(rel='stylesheet', href='/stylesheets/side-panel.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-theme.css')
        link(rel='stylesheet', href='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/modal.css')
        link(rel='stylesheet', href='/stylesheets/numbers.css')
        link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css', rel='stylesheet')
        link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.css', type='text/css')

        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script(src='/javascripts/lib/jquery-periodic.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js')
        script(src='/javascripts/lib/bootstrap-list-filter.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js')
        script(src='/javascripts/loadMap.js')
        script(src='/javascripts/data.js')
        script(src='/javascripts/lib/jlinq.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(src='/javascripts/pointModule.js')
        script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.js')

        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/controllers/vehicleController.js')
        script(src='/javascripts/lib/angular-pageslide-directive.js')
        script(src='/javascripts/controllers/sidePanelController.js')

    body
        block content
