<!DOCTYPE html>
<html ng-app="trackingApp">
<head>
    <title>Tracking App</title>
    <link rel="stylesheet" href="/stylesheets/map.css">
    <link rel="stylesheet" href="/stylesheets/side-nav.css">
    <link rel="stylesheet" href="/stylesheets/side-panel.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/numbers.css">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.css" type="text/css">
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js"></script>
    <script src="/javascripts/lib/bootstrap-list-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
    <script src="/javascripts/lib/jlinq.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers/vehicleController.js"></script>
    <script src="/javascripts/lib/angular-pageslide-directive.js"></script>
    <script src="/javascripts/controllers/sidePanelController.js"></script>
    <script src="/javascripts/factories/mapFactory.js"></script>
    <script src="/javascripts/factories/chartFactory.js"></script>
    <script src="/javascripts/services/vehicleService.js"></script>
    <script src="/javascripts/services/sidePanelService.js"></script>
</head>
<body>
<div id="wrapper" ng-controller="VehicleController">
    <div id="sidenav-wrapper">
        <nav class="sidenav">
            <ul class="sidenav-list">
                <li class="sidenav-list-item">
                    <div id="style-pane" ng-controller="sidePanelController" class="side-panel"><a href="" ng-click="toggleHide()" title="Change style" data-toggle="tooltip" data-placement="right" tooltip="tooltip"><i class="fa fa-paint-brush"></i></a>
                        <div pageslide="pageslide" ps-open="checked" ps-speed="0.25" ps-side="left" ps-size="150px" class="pageslide">
                            <div style="padding:20px">
                                <div data-toggle="buttons" class="btn-group-vertical">
                                    <label class="btn btn-default disabled">
                                        <input type="radio" name="options" autocomplete="off" disabled="true"/> Style:
                                    </label>
                                    <label ng-click="setStyle(styles[0])" class="btn btn-primary active"><img src="images/app.png"/>
                                        <input id="style" type="radio" name="options" autocomplete="off" checked=""/> App
                                    </label>
                                    <label ng-click="setStyle(styles[1])" class="btn btn-primary"><img src="images/basic.png"/>
                                        <input id="basic" type="radio" name="options" autocomplete="off"/> Basic
                                    </label>
                                    <label ng-click="setStyle(styles[2])" class="btn btn-primary"><img src="images/dark.png"/>
                                        <input id="light" type="radio" name="options" autocomplete="off"/> Dark
                                    </label>
                                    <label ng-click="setStyle(styles[3])" class="btn btn-primary"><img src="images/light.png"/>
                                        <input id="dark" type="radio" name="options" autocomplete="off"/> Light
                                    </label>
                                    <label ng-click="setStyle(styles[4])" class="btn btn-primary"><img src="images/street.png"/>
                                        <input id="street" type="radio" name="options" autocomplete="off"/> Street
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidenav-list-item">
                    <div id="search-pane" ng-controller="sidePanelController" class="side-panel"><a href="" ng-click="toggleHide()" title="Search" data-toggle="tooltip" data-placement="right" tooltip="tooltip"><i class="fa fa-list"></i></a>
                        <div pageslide="pageslide" ps-open="checked" ps-speed="0.25" ps-side="left" class="pageslide">
                            <div style="padding:20px">
                                <form role="form">
                                    <div class="form-group">
                                        <input id="searchinput" type="search" placeholder="Search..." class="form-control"/>
                                    </div>
                                    <div id="searchlist" class="list-group"><a href="#" ng-repeat="point in points" ng-click="getVehicle(point)" class="list-group-item vehicle"><span>{{point.properties.plate}}</span></a></div>
                                </form>
                                <script>
                                    $('#searchlist').btsListFilter('#searchinput', {itemChild: 'span'});
                                </script>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidenav-list-item">
                    <div id="info-pane" ng-controller="infoPanelController" class="side-panel">
                        <button id="info-button" href="" ng-disabled="selectedPoint == null" ng-click="toggle()" title="Details" data-toggle="tooltip" data-placement="right" tooltip="tooltip" class="link-button"><i class="fa fa-table"></i></button>
                        <div id="info-pageslide" pageslide="pageslide" ps-open="checked" ps-speed="0.25" ps-side="left" ps-click-outside="false" class="pageslide">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h1>{{selectedPoint.properties.plate}}</h1><a ng-click="toggle()" role="button" class="btn btn-default btn-close">X</a>
                                </div>
                                <div class="panel-body">
                                    <ul class="value-list">
                                        <li>
                                            <div class="description">Speed</div>
                                            <div class="value"><span class="neutral">{{selectedPoint.properties.speed.toFixed(1)}} km/h</span></div>
                                        </li>
                                        <li>
                                            <div class="description">Distance</div>
                                            <div class="value"><span class="neutral">{{selectedPoint.properties.distance.toFixed(1)}} km</span></div>
                                        </li>
                                    </ul><a data-toggle="modal" data-target="#historyModal" href="#historyModal" role="button" class="btn btn-primary">Show history</a>
                                    <a ng-click="toggleReset()" role="button" class="btn btn-primary stop-tracking-button">Stop tracking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-controller="sidePanelController" class="sidenav-list-item"><a href="" ng-click="stopTracking()" ng-disabled="selectedPoint == null" title="Stop tracking" data-toggle="tooltip" data-placement="right" tooltip="tooltip"><i class="fa fa-hand-stop-o"></i></a></li>
            </ul>
        </nav>
    </div>
    <div id="page-content-wrapper">
        <div id="map"></div>
        <div id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true" class="modal bs-example-modal-lg-new">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="historyModalLabel" class="modal-title">{{selectedPoint.properties.plate}}</h4><span class="inline-close-button">
              <button type="button" data-dismiss="modal" class="btn btn-primary">X</button></span>
                    </div>
                    <div class="modal-body">
                        <div class="panel-group material-tabs-group">
                            <ul class="nav nav-tabs material-tabs material-tabs_primary">
                                <li class="active"><a href="#speedChartTab" data-toggle="tab" class="material-tabs__tab-link">Speed</a></li>
                                <li><a href="#distanceChartTab" data-toggle="tab" class="material-tabs__tab-link">Distance</a></li>
                            </ul>
                            <div class="tab-content materail-tabs-content">
                                <div id="speedChartTab" class="tab-pane fade active in">
                                    <div class="chartDiv">
                                        <canvas id="speedChart" width="500" height="500" class="chart"></canvas>
                                    </div>
                                </div>
                                <div id="distanceChartTab" class="tab-pane fade">
                                    <div class="chartDiv">
                                        <canvas id="distanceChart" width="500" height="500" class="chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>