<div style="padding:20px">
   <div data-toggle="buttons" class="btn-group-vertical">
      <label class="btn btn-default disabled">
            <input type="radio" name="options" autocomplete="off" disabled="true"/> Style:
      </label>
      <label ng-click="setStyle(styles[0])" class="btn btn-primary active"><img src="images/app.png"/>
            <input id="style" type="radio" name="options" autocomplete="off" checked=""/> App
      </label>
      <label ng-click="setStyle(styles[1])" class="btn btn-primary"><img src="images/basic.png"/>
            <input id="basic" type="radio" name="options" autocomplete="off"/> Basic
      </label>
      <label ng-click="setStyle(styles[2])" class="btn btn-primary"><img src="images/dark.png"/>
            <input id="light" type="radio" name="options" autocomplete="off"/> Dark
      </label>
      <label ng-click="setStyle(styles[3])" class="btn btn-primary"><img src="images/light.png"/>
            <input id="dark" type="radio" name="options" autocomplete="off"/> Light
      </label>
      <label ng-click="setStyle(styles[4])" class="btn btn-primary"><img src="images/street.png"/>
            <input id="street" type="radio" name="options" autocomplete="off"/> Street
      </label>
   </div>
</div>
