doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/map.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/table.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/mapbox-gl-26.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        link(rel='stylesheet', href='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')

        script(src='/javascripts/lib/mapbox-gl-26.js')
        script(src='/javascripts/popup.js')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        script(src='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script(src='/javascripts/lib/jquery-periodic.js')
        script(src='/javascripts/menu-items.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js')
        script(src='/javascripts/lib/bootstrap-list-filter.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js')
        script(src='/javascripts/map.js')
        script(src='/javascripts/data.js')
        script(src='/javascripts/lib/jlinq.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(src='/javascripts/pointModule.js')
    body
        block content
