#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.x {
    float: right;
    color: white;
    cursor: pointer;
    font-size: large;
}

.in {
    background: rgba(0, 0, 0, 0.8);
}

.material-panel__body {
    padding: 2%;
}

.material-panel_primary {
    width: 100%;
    height: 100%;
}