#map {
    position: absolute;
    top: 0;
    bottom: 0px;
    width: 100%;
}

.mapboxgl-popup-tip, .mapboxgl-popup-content {
    visibility: hidden;
    height: 0%;
}

.content {
    padding: 5%;
    opacity: 1;
    width: 300px;
    height: 220px;
    overflow: inherit;
    background: rgba(255, 255, 255, 0.85);
    border: 3px solid #7fcff7;
}

.x {
    float: right;
    color: red;
    cursor: pointer;
    font-size: large;
}

.in {
    background: rgba(0, 0, 0, 0.8);
}