* {
    box-sizing: border-box;
}

.modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #337ab7;
    line-height: 30px;
}

#modalLabel {
    display: inline-block;
}

.modal-content {
    margin-left: 35%;
    min-width: 300px;
    min-height: 250px;
    background-color: rgba(255,255,255,0.9);
}

.modal-body {
    padding: 0px;
}

.modal-body.material-modal__body {
    padding: 0px;
}

.chartDiv {
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    min-width: 250px;
    min-height: 250px;
    margin: 0 auto;
}

.panel-group.material-tabs-group {
    margin-bottom: 0;
    height: 100%;
}

.tab-content.materail-tabs-content {
    height: 100%;
}

#speedChartTab, #distanceChartTab {
    height: 100%;
    width: 100%;
}

.btn-close {
    float: right;
}

#historyModal {
    z-index: 2500;
}

.material-tabs-group {
    box-shadow: none;
}

h4, .inline-close-button {
    display: inline-block;
}

.inline-close-button {
    float: right;
}

canvas {
    width: 500px;
    height: 500px;
}