body, p, h1, h2, h3, h4, ul, li  {
    padding: 0;
    margin: 0;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    box-shadow: 0px 0px 15px 0px #888;
    background-color: rgba(250, 250, 250, 1);
    width: 60px;
    height: 100vh;
}

.sidenav-list-item {
    cursor: pointer;
    padding: 20px;
    display: flex;
    opacity: 0.54;
    font-size: 1.6em;
    justify-content: center;
}

label.btn.btn-primary img {
    margin-right: 5%;
}

li.sidenav-list-item > a.active {
    color: red;
    outline: 0;
}

.sidenav-list-item a {
    color: #337ab7;
}