html {
    overflow-x: hidden;
}

body.ng-pageslide-body-open::before {
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 1s;
    pointer-events: all;
}

body.ng-pageslide-body-closed::before {
    transition: opacity 1s;
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

#info-pageslide {
    background-color: rgba(252, 252, 252, 0.7);
    box-shadow: 4px 0 5px -2px #999;
}

.link-button {
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    color: #337ab7;
}

.panel.panel-primary {
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.panel-heading {
    height: 12%;
    font-size: -webkit-xxx-large;
    text-align: center;
    border-radius: 0!important;
}

.panel-heading h1 {
    float: left;
    margin-top: 10px;
}

.panel-body {
    background-color: rgba(255, 255, 255, 0);
}

.btn-close {
    float: right;
}