body, p, h1, h2, h3, h4, ul, li  {
    padding: 0;
    margin: 0;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 0px 15px 0px #888;
    background-color: rgba(250,250,250,1);
    width: 60px;
    height: 100vh;
}

.sidenav-list-item {
    cursor: pointer;
    padding: 20px;
    display: flex;
    opacity: 0.54;
    font-size: 1.6em;
    justify-content: center;
}

#d1, #d2 {
    color: Green;
    background-color: #eee;
    display: none;
    text-align: justify;
    z-index: 1000;
    position: absolute;
    margin-left: 60px;
    height: 100%;
}

#d1 {
    width: 15%;
    min-width: 220px;
}

#d2 {
    width: 30%;
}

#d1, #d2 p {
    padding: 15px;
    font-size: 0.917em;
}

label.btn.btn-primary {
    display: inline-block;
}

label.btn.btn-primary img {
    margin-right: 5%;
}