@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";

body, p, h1, h2, h3, h4, ul, li  {
    padding: 0;
    margin: 0;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 0px 15px 0px #888;
    background-color: rgba(250, 250, 250, 1);
    width: 60px;
    height: 100vh;
}

.sidenav-list-item {
    cursor: pointer;
    padding: 20px;
    display: flex;
    opacity: 0.54;
    font-size: 1.6em;
    justify-content: center;
}

#d1, #d2, #d3 {
    background-color: #eee;
    display: none;
    text-align: justify;
    z-index: 1000;
    position: absolute;
    margin-left: 60px;
    height: 100%;
}

#d1 {
    width: 15%;
}

#d2 {
    width: 20%;
}

#d1, #d2 {
    min-width: 220px;
    visibility: hidden;
    padding-left: 15px;
    padding-top: 15px;
}

#d1 *, #d2 * {
    visibility: visible;
}

#d3 {
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}

label.btn.btn-primary img {
    margin-right: 5%;
}

li.sidenav-list-item > a.active {
    color: red;
    outline: 0;
}

.modal-body.material-modal__body {
    padding: 0px;
}

.sidenav-list-item a {
    color: #337ab7;
}

.modal.modal-wide .modal-dialog {
    width: 90%;
}

.chartDiv {
    width: 40%;
    height: 40%;
}

.btn-close {
    float: right;
    margin-bottom: 30%;
}

#modalLabel {
    display: inline-block;
}